body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #7c0707;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #000000;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

#sobre {
  background-color: #ffffff;
  padding: 15px;
  border: 3px double #921111;
}
#enredo {
  background-color: #ffffff;
  padding: 15px;
  border: 3px double #990909;
}
#Gênero {
  background-color: #ffffff;
  padding: 15px;
  border: 3px double #a30d0d;
}

section {
  margin-bottom: 30px;
  padding: 20px;
  border: 3px double #ccc;
  border-radius: 10px;
}

footer {
  background-color: #010d18;
  color: #ffffff;
  text-align: center;
  padding: 15px;
}
